{% extends 'base_template.html' %}

{% block title %} registro de usuarios {% endblock %}

{% block content %}
<div class="register-page">
  <div class="form">

    {% if error %}
      <p style="color: red;"><strong>Error:</strong> {{ error }}
    {% endif %}
       
    <form class="register-form" action="", method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="titulo_form">REGISTRO DE USUARIO</h1></div>
          

        {{ form.name() }}
        {% for error in form.name.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
          

        {{ form.email }}
        {% for error in form.email.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}


        {{ form.password }}
        {% for error in form.password.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}


        {{ form.submit() }}


         <p class="message">Ya estas registrado? <a href="{{url_for('auth.login')}}">Ingresa aquí</a></p>
         
      </form>
    </div>
  </div>
{% endblock %}